* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

form input {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.5rem;
}

th {
  text-align: left;
}

.category tr:first-child {
  font-weight: bold;
}

tr.out-of-stock {
  background-color: red;
}
